---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Aah Pari!!">
	<div style="justify-content: center; display: flex; align-items: center; height: 100%; width: 100%; position: fixed; margin: 0">
		<div style="font-size: 50px;">Headphones recommeneded</div>
	</div>
</BaseLayout>
